doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Cuba admin is super flexible, powerful, clean & modern responsive bootstrap 5 admin template with unlimited possibilities.')
  meta(name='keywords' content='admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app')
  meta(name='author' content='pixelstrap')
  link(rel='icon' href='http://localhost:8080/assets/images/favicon.png' type='image/x-icon')
  link(rel='shortcut icon' href='http://localhost:8080/assets/images/favicon.png' type='image/x-icon')
  title Cuba - Premium Admin Template
  // Google font
  link(href='https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap' rel='stylesheet')
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/font-awesome.css')
  
  // ico-font
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/icofont.css')
  // Themify icon
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/themify.css')
  // Flag icon
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/flag-icon.css')
  // Feather icon
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/feather-icon.css')
  // Plugins css start
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/scrollbar.css')
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/animate.css')
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/chartist.css')
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/owlcarousel.css')
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/prism.css')
  // Plugins css Ends
  // Bootstrap css
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/vendors/bootstrap.css')
  // App css
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/style.css')
  link#color(rel='stylesheet' href='http://localhost:8080/assets/css/color-1.css' media='screen')
  // Responsive css
  link(rel='stylesheet' type='text/css' href='http://localhost:8080/assets/css/responsive.css')
// tap on top starts
.tap-top
  i(data-feather='chevrons-up')
// tap on tap ends
// page-wrapper Start
#pageWrapper.page-wrapper.compact-wrapper
  // Page Header Start
  include elements/header.pug
  // Page Header Ends
  // Page Body Start
  .page-body-wrapper
    // Page Sidebar Start
    include elements/sidebar.pug
    // Page Sidebar Ends
    block content
    
    // footer start
    footer.footer
      .container-fluid
        .row
          .col-md-12.footer-copyright.text-center
            p.mb-0 Copyright 2021 &copy; Cuba theme by pixelstrap 
// latest jquery
script(src='http://localhost:8080/assets/js/jquery-3.5.1.min.js')
// Bootstrap js
script(src='http://localhost:8080/assets/js/bootstrap/bootstrap.bundle.min.js')
// feather icon js
script(src='http://localhost:8080/assets/js/icons/feather-icon/feather.min.js')
script(src='http://localhost:8080/assets/js/icons/feather-icon/feather-icon.js')
// scrollbar js
script(src='http://localhost:8080/assets/js/scrollbar/simplebar.js')
script(src='http://localhost:8080/assets/js/scrollbar/custom.js')
// Sidebar jquery
script(src='http://localhost:8080/assets/js/config.js')
// Plugins JS start
script(src='http://localhost:8080/assets/js/sidebar-menu.js')
script(src='http://localhost:8080/assets/js/chart/chartist/chartist.js')
script(src='http://localhost:8080/assets/js/chart/chartist/chartist-plugin-tooltip.js')
script(src='http://localhost:8080/assets/js/chart/apex-chart/apex-chart.js')
script(src='http://localhost:8080/assets/js/chart/apex-chart/stock-prices.js')
script(src='http://localhost:8080/assets/js/prism/prism.min.js')
script(src='http://localhost:8080/assets/js/clipboard/clipboard.min.js')
script(src='http://localhost:8080/assets/js/counter/jquery.waypoints.min.js')
script(src='http://localhost:8080/assets/js/counter/jquery.counterup.min.js')
script(src='http://localhost:8080/assets/js/counter/counter-custom.js')
script(src='http://localhost:8080/assets/js/custom-card/custom-card.js')
script(src='http://localhost:8080/assets/js/owlcarousel/owl.carousel.js')
script(src='http://localhost:8080/assets/js/dashboard/dashboard_2.js')
script(src='http://localhost:8080/assets/js/tooltip-init.js')
// Plugins JS Ends
// Theme js
script(src='http://localhost:8080/assets/js/script.js')
