extends ../../layout/admin/main

block content
  .page-body
    .container-fluid
      .page-title
        .row
          .col-6
            h3
              | Ecommerce
          .col-6
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html')
                  i(data-feather='home')
              li.breadcrumb-item Dashboard
              li.breadcrumb-item.active Ecommerce
    // Container-fluid starts
    .container-fluid
      .row.size-column
        .col-xl-7.box-col-12.xl-100
          .row.dash-chart
            .col-xl-6.box-col-6.col-md-6
              .card.o-hidden
                .card-header.card-no-border
                  .card-header-right
                    ul.list-unstyled.card-option
                      li
                        i.fa.fa-spin.fa-cog
                      li
                        i.view-html.fa.fa-code
                      li
                        i.icofont.icofont-maximize.full-card
                      li
                        i.icofont.icofont-minus.minimize-card
                      li
                        i.icofont.icofont-refresh.reload-card
                      li
                        i.icofont.icofont-error.close-card
                  .media
                    .media-body
                      p
                        span.f-w-500.font-roboto Today Total sale
                        span.f-w-700.font-primary.ms-2 89.21%
                      h4.f-w-500.mb-0.f-20
                        | $
                        span.counter 3000.56
                .card-body.p-0
                  .media
                    .media-body
                      .profit-card
                        #spaline-chart
                  .code-box-copy
                    button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head' title='Copy')
                      i.icofont.icofont-copy-alt
                    pre.
            .col-xl-6.box-col-6.col-md-6
              .card.o-hidden
                .card-header.card-no-border
                  .card-header-right
                    ul.list-unstyled.card-option
                      li
                        i.fa.fa-spin.fa-cog
                      li
                        i.view-html.fa.fa-code
                      li
                        i.icofont.icofont-maximize.full-card
                      li
                        i.icofont.icofont-minus.minimize-card
                      li
                        i.icofont.icofont-refresh.reload-card
                      li
                        i.icofont.icofont-error.close-card
                  .media
                    .media-body
                      p
                        span.f-w-500.font-roboto Today Total visits
                        span.f-w-700.font-primary.ms-2 35.00%
                      h4.f-w-500.mb-0.f-20.counter 9,050
                .card-body.pt-0
                  .monthly-visit
                    #column-chart
                  .code-box-copy
                    button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head1' title='Copy')
                      i.icofont.icofont-copy-alt
                    pre.
            .col-xl-6.box-col-6.col-lg-12.col-md-6
              .card.o-hidden
                .card-body
                  .ecommerce-widgets.media
                    .media-body
                      p.f-w-500.font-roboto
                        | Our Sale Value
                        span.badge.pill-badge-primary.ms-3 New
                      h4.f-w-500.mb-0.f-20
                        | $
                        span.counter 7454.25
                    .ecommerce-box.light-bg-primary
                      i.fa.fa-heart(aria-hidden='true')
            .col-xl-6.box-col-6.col-lg-12.col-md-6
              .card.o-hidden
                .card-body
                  .media
                    .media-body
                      p.f-w-500.font-roboto
                        | Today Stock value
                        span.badge.pill-badge-primary.ms-3 Hot
                      .progress-box
                        h4.f-w-500.mb-0.f-20
                          | $
                          span.counter 9000.04
                        .progress.sm-progress-bar.progress-animate.app-right.d-flex.justify-content-end
                          .progress-gradient-primary(role='progressbar' style='width: 35%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
                            span.font-primary 88%
                            span.animate-circle
        .col-xl-5.box-col-12.xl-50
          .card.o-hidden.dash-chart
            .card-header.card-no-border
              .card-header-right
                ul.list-unstyled.card-option
                  li
                    i.fa.fa-spin.fa-cog
                  li
                    i.view-html.fa.fa-code
                  li
                    i.icofont.icofont-maximize.full-card
                  li
                    i.icofont.icofont-minus.minimize-card
                  li
                    i.icofont.icofont-refresh.reload-card
                  li
                    i.icofont.icofont-error.close-card
              .media
                .media-body
                  p
                    span.f-w-500.font-roboto Total Profit
                    span.font-primary.f-w-700.ms-2 99.00%
                  h4.f-w-500.mb-0.f-20
                    | $
                    span.counter 3000.56
            .card-body.pt-0
              .negative-container
                #negative-chart
              .code-box-copy
                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head2' title='Copy')
                  i.icofont.icofont-copy-alt
                pre.
        .col-xl-4.xl-50.box-col-12
          .card
            .card-header.card-no-border
              h5 New Product
              .card-header-right
                ul.list-unstyled.card-option
                  li
                    i.fa.fa-spin.fa-cog
                  li
                    i.view-html.fa.fa-code
                  li
                    i.icofont.icofont-maximize.full-card
                  li
                    i.icofont.icofont-minus.minimize-card
                  li
                    i.icofont.icofont-refresh.reload-card
                  li
                    i.icofont.icofont-error.close-card
            .card-body.pt-0
              .our-product
                .table-responsive
                  table.table.table-bordernone
                    tbody.f-w-500
                      tr
                        td
                          .media
                            img.img-fluid.m-r-15.rounded-circle(src='../assets/images/dashboard-2/product-1.png' alt='')
                            .media-body
                              span Hike Shoes
                              p.font-roboto 100 item
                        td
                          p coupon code
                          span PIX001
                        td
                          p -51%
                          span $99.00
                      tr
                        td
                          .media
                            img.img-fluid.m-r-15.rounded-circle(src='../assets/images/dashboard-2/product-3.png' alt='')
                            .media-body
                              span Tree Pot
                              p.font-roboto 105 item
                        td
                          p coupon code
                          span PIX002
                        td
                          p -78%
                          span $66.00
                      tr
                        td
                          .media
                            img.img-fluid.m-r-15.rounded-circle(src='../assets/images/dashboard-2/product-4.png' alt='')
                            .media-body
                              span Bag
                              p.font-roboto 604 item
                        td
                          p coupon code
                          span PIX003
                        td
                          p -04%
                          span $116.00
                      tr
                        td
                          .media
                            img.img-fluid.m-r-15.rounded-circle(src='../assets/images/dashboard-2/product-5.png' alt='')
                            .media-body
                              span Wtach
                              p.font-roboto 541 item
                        td
                          p coupon code
                          span PIX004
                        td
                          p -60%
                          span $99.00
                      tr
                        td
                          .media
                            img.img-fluid.m-r-15.rounded-circle(src='../assets/images/dashboard-2/product-6.png' alt='')
                            .media-body
                              span T-shirt
                              p.font-roboto 999 item
                        td
                          p coupon code
                          span PIX005
                        td
                          p -50%
                          span $58.00
              .code-box-copy
                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head3' title='Copy')
                  i.icofont.icofont-copy-alt
                pre.
        .col-xl-4.xl-50.box-col-12
          .card
            .card-header.card-no-border
              h5 Location
              .card-header-right
                ul.list-unstyled.card-option
                  li
                    i.fa.fa-spin.fa-cog
                  li
                    i.view-html.fa.fa-code
                  li
                    i.icofont.icofont-maximize.full-card
                  li
                    i.icofont.icofont-minus.minimize-card
                  li
                    i.icofont.icofont-refresh.reload-card
                  li
                    i.icofont.icofont-error.close-card
            .card-body.pt-0
              .dash-map
                #map
              .code-box-copy
                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head4' title='Copy')
                  i.icofont.icofont-copy-alt
                pre.
        .col-xl-4.xl-50.box-col-12
          .card
            .card-header.card-no-border
              h5 News & Updates
              .card-header-right
                ul.list-unstyled.card-option
                  li
                    i.fa.fa-spin.fa-cog
                  li
                    i.view-html.fa.fa-code
                  li
                    i.icofont.icofont-maximize.full-card
                  li
                    i.icofont.icofont-minus.minimize-card
                  li
                    i.icofont.icofont-refresh.reload-card
                  li
                    i.icofont.icofont-error.close-card
            .card-body.new-update.pt-0
              .activity-timeline
                .media
                  .activity-line
                  .activity-dot-secondary
                  .media-body
                    span Update Product
                    p.font-roboto Quisque a consequat ante Sit amet magna at volutapt.
                .media
                  .activity-dot-primary
                  .media-body
                    span James liked Nike Shoes
                    p.font-roboto Aenean sit amet magna vel magna fringilla ferme.
                .media
                  .activity-dot-secondary
                  .media-body
                    span
                      | john just buy your product
                      i.fa.fa-circle.circle-dot-secondary.pull-right
                    p.font-roboto Vestibulum nec mi suscipit, dapibus purus.....
                .media
                  .activity-dot-primary
                  .media-body
                    span
                      | Jihan Doe just save your product
                      i.fa.fa-circle.circle-dot-primary.pull-right
                    p.font-roboto Curabitur egestas consequat lorem.
              .code-box-copy
                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head5' title='Copy')
                  i.icofont.icofont-copy-alt
                pre.
        .col-xl-3.risk-col.xl-100.box-col-12
          .card.total-users
            .card-header.card-no-border
              h5 Risk Factor
              .card-header-right
                ul.list-unstyled.card-option
                  li
                    i.fa.fa-spin.fa-cog
                  li
                    i.view-html.fa.fa-code
                  li
                    i.icofont.icofont-maximize.full-card
                  li
                    i.icofont.icofont-minus.minimize-card
                  li
                    i.icofont.icofont-refresh.reload-card
                  li
                    i.icofont.icofont-error.close-card
            .card-body.pt-0
              .apex-chart-container.goal-status.text-center.row
                .rate-card.col-xl-12
                  .goal-chart
                    #riskfactorchart
                  .goal-end-point
                    ul
                      li.mt-0.pt-0
                        h6.font-primary As From
                        h6.f-w-400 24 March 2021
                      li
                        h6.mb-2.f-w-400 Total Goal
                        h5.mb-0 $94,000.20
                ul.col-xl-12
                  li
                    .goal-detail
                      h6
                        span.font-primary Goal Archive : 
                        | $91,000.000
                      .progress.sm-progress-bar.progress-animate
                        .progress-gradient-primary(role='progressbar' style='width: 60%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
                    .goal-detail.mb-0
                      h6
                        span.font-primary Duration: 
                        | 9 Month
                      .progress.sm-progress-bar.progress-animate
                        .progress-gradient-primary(role='progressbar' style='width: 50%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
                  li
                    .btn-download.btn.btn-gradient.f-w-500 Download details
              .code-box-copy
                button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head6' title='Copy')
                  i.icofont.icofont-copy-alt
                pre.
        .col-xl-9.xl-100.box-col-12
          .row
            .col-xl-12
              .card.offer-box
                .card-body.p-0
                  .offer-slider
                    #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
                      .carousel-inner
                        .carousel-item.active
                          .selling-slide.row
                            .col-xl-4.col-md-6
                              .d-flex
                                .left-content
                                  p Much More Selling product
                                  h4.f-w-600 Best Selling Product
                                  span.badge.badge-white.rounded-pill 78% offer
                                  span.badge.badge-dotted.rounded-pill.ms-2 Coupon Code : 12345
                            .col-xl-4.col-md-12
                              .center-img
                                img.img-fluid(src='../assets/images/dashboard-2/offer-shoes-3.png' alt='...')
                            .col-xl-4.col-md-6
                              .d-flex
                                .right-content
                                  p Money back Guarrantee
                                  h4.f-w-600 Women Straight Kurta
                                  span.badge.badge-white.rounded-pill $100.00
                        .carousel-item
                          .selling-slide.row
                            .col-xl-4.col-md-6
                              .d-flex
                                .left-content
                                  p Money back Guarrantee
                                  h4.f-w-600 Women Straight Kurta
                                  span.badge.badge-white.rounded-pill $100.00
                            .col-xl-4.col-md-12
                              .center-img
                                img.img-fluid(src='../assets/images/dashboard-2/offer-shoes-3.png' alt='...')
                            .col-xl-4.col-md-6
                              .d-flex
                                .right-content
                                  p Money back Guarrantee
                                  h4.f-w-600 Nike Air Shoes
                                  span.badge.badge-white.rounded-pill $120.55
                        .carousel-item
                          .selling-slide.row
                            .col-xl-4.col-md-6
                              .d-flex
                                .left-content
                                  p Maximum Selling product
                                  h4.f-w-600 Best Selling Product
                                  span.badge.badge-white.rounded-pill 50% offer
                                  span.badge.badge-dotted.rounded-pill.ms-2 Coupon Code : 21546
                            .col-xl-4.col-md-12
                              .center-img
                                img.img-fluid(src='../assets/images/dashboard-2/offer-shoes-3.png' alt='...')
                            .col-xl-4.col-md-6
                              .d-flex
                                .right-content
                                  p Money back Guarrantee
                                  h4.f-w-600 Nike Air Shoes
                                  span.badge.badge-white.rounded-pill $120.55
                      a.carousel-control-prev(href='#carouselExampleCaptions' role='button' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                      a.carousel-control-next(href='#carouselExampleCaptions' role='button' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
            .col-xl-12
              .card
                .card-body
                  .best-seller-table.responsive-tbl
                    .item
                      .table-responsive.product-list
                        table.table.table-bordernone
                          thead
                            tr
                              th.f-22
                                | Best Seller
                              th Date
                              th Product
                              th Country
                              th Total
                              th.text-end Status
                          tbody
                            tr
                              td
                                .d-inline-block.align-middle
                                  img.img-40.m-r-15.rounded-circle.align-top(src='../assets/images/avtar/7.jpg' alt='')
                                  .status-circle.bg-primary
                                  .d-inline-block
                                    span John keter
                                    p.font-roboto 2019
                              td 06 August
                              td CAP
                              td
                                i.flag-icon.flag-icon-gb
                              td
                                span.label $5,08,652
                              td.text-end
                                i.fa.fa-check-circle
                                | Done
                            tr
                              td
                                .d-inline-block.align-middle
                                  img.img-40.m-r-15.rounded-circle.align-top(src='../assets/images/avtar/4.jpg' alt='')
                                  .status-circle.bg-primary
                                  .d-inline-block
                                    span Herry Venter
                                    p.font-roboto 2020
                              td 21 March
                              td Branded Shoes
                              td
                                i.flag-icon.flag-icon-us
                              td
                                span.label $59,105
                              td.text-end
                                i.fa.fa-check-circle
                                | Pending
                            tr
                              td
                                .d-inline-block.align-middle
                                  img.img-40.m-r-15.rounded-circle.align-top(src='../assets/images/avtar/16.jpg' alt='')
                                  .status-circle.bg-primary
                                  .d-inline-block
                                    span loain deo
                                    p.font-roboto 2020
                              td 09 March
                              td Headphone
                              td
                                i.flag-icon.flag-icon-za
                              td
                                span.label $10,155
                              td.text-end
                                i.fa.fa-check-circle
                                | Success
                            tr
                              td
                                .d-inline-block.align-middle
                                  img.img-40.m-r-15.rounded-circle.align-top(src='../assets/images/avtar/11.jpg' alt='')
                                  .status-circle.bg-primary
                                  .d-inline-block
                                    span Horen Hors
                                    p.font-roboto 2020
                              td 14 February
                              td Cell Phone
                              td
                                i.flag-icon.flag-icon-at
                              td
                                span.label $90,568
                              td.text-end
                                i.fa.fa-check-circle
                                | In process
                            tr
                              td
                                .d-inline-block.align-middle
                                  img.img-40.m-r-15.rounded-circle.align-top(src='../assets/images/avtar/3.jpg' alt='')
                                  .status-circle.bg-primary
                                  .d-inline-block
                                    span fenter Jessy
                                    p.font-roboto 2021
                              td 12 January
                              td Earings
                              td
                                i.flag-icon.flag-icon-br
                              td
                                span.label $10,652
                              td.text-end
                                i.fa.fa-check-circle
                                | Pending